.mensaje{
    display: flex;
    justify-content: center;
}
.log-out{
    background-color: transparent;
    border-radius: 15px;
    border: 3px solid #5878ca;
    padding: 15px;
    float: left;
    height: 270px;
}

td{
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

h1{
   color:#667EAF;
   text-align: left; 
   font-family: 'Bad Script', cursive;
}

.botonIngresar {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color:white;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px; 
    background-color:#667EAF;
    border-color: #5878ca;
    border-width: 2px;
    border-style: ridge;
    border-radius:13px;
    }

.botonIngresar:hover {
    background-color:#AAC2E5;
}
.clave {
    font-family: 'Raleway', sans-serif;
    background: transparent;
    border-color: transparent;
    }
.clave:hover {
    background-color:rgba(158, 31, 27, 0.5);
}
.titulo{
    padding: 15px;
    width: 95.8%;
    height: 55px;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(142, 53, 184, 0.178);
    align-items: center;
    text-align: center;
    margin: 10px;
}


p {
    font-family: 'Raleway', sans-serif;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

nav h1 {
    margin: 0px;
    padding: 0px;
}

/*Responsive*/
* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* Celulares: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 599px) {
    nav {
        flex-direction: column;
    }

    nav .nav-logo {
        margin-left: auto;
    }

    .nav-link {
        margin: 5px 0;
    }

    .between {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 600px) {

    /* Tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* PC+: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

@media only screen and (max-width: 899px) {
    .col-md-12 {
        width: 100%;
    }

    .between {
        display: flex;
        flex-direction: column;
    }
    #meta_2 {
        margin-top: 15px;
    }
}

/*Colores*/
.bg-light {
    background-color: #EEEEEE;
}

.bg-azul {
    background-color: #667EAF;
}

.bg-lightblue {
    /*Para hover boton del nav*/
    background-color: #AAC2E5;
}

.text-indigo {
    color: indigo;
}

.text-light {
    color: #EEEEEE;
}

.text-lightblue {
    color: #AAC2E5;
}

.text-azul {
    color: #667EAF;
}

/*Utilidades*/
.text-center {
    text-align: center;
}

.centrar {
    /*centrado horizontal*/
    margin-left: auto;
    margin-right: auto;
}

.mr {
    margin-right: 15px;
}

.mt {
    margin-top: 15px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.push-left {
    margin-right: auto;
}

/*Personalizados*/
.nav-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    padding: 10px 30px;
}

.nav-link:hover {
    background-color: #64B0BD;
    color: white;
}

.nav-logo {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'Bad Script', cursive;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 30px;
    transition: all 300ms linear;
}
.nav-logo:hover {
    color: #64B0BD;
    transition: all 300ms linear;
}

.footer {
    background-color: #667EAF;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 15px;
}

.col1foot{
    text-align: left;
}
#copyright{
    text-align: right;
    font-family: 'Raleway', sans-serif;
}


