
.titulo{
    
    color: #B07892;
    font-family: 'Bad Script', cursive;
    text-align: center;
    
}
.letras{
    font-family: 'Raleway', sans-serif;
}

#nota{
    border: #B07892 5px;
    border-style: dotted solid;
    padding: 20px;
    
}
.cen {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
    
}


input[type=button]{
    padding: 5px;
    background-color: #667EAF;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    color: #ffffff;
    float: right;
}
input[type=button]:hover {
    background-color: #66B067;
}
input[type=text], input[type=date], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

@media screen and (max-width: 600px) {
    input[type=text], input[type=date], textarea{
      
      padding: 5px;
    }
}

